/* Load the Matrka Serif font */
@font-face {
    font-family: "Matrka Serif";
    src: url(../fonts/MatrkaSerif-Regular.ttf);
}
@font-face {
    font-family: "Matrka Serif";
    src: url(../fonts/MatrkaSerif-Bold.ttf);
    font-weight:bold;
}
@font-face {
    font-family: "Matrka Serif";
    src: url(../fonts/MatrkaSerif-Italic.ttf);
    font-style:italic;
}
@font-face {
    font-family: "Matrka Serif";
    src: url(../fonts/MatrkaSerif-BoldItalic.ttf);
    font-style:italic;
    font-weight:bold;
}
@font-face {
    font-family: "IndUni-H";
    src: url(../fonts/IndUni-H-Regular.otf);
}
@font-face {
    font-family: "IndUni-H";
    src: url(../fonts/IndUni-H-Bold.otf);
    font-weight:bold;
}
@font-face {
    font-family: "IndUni-H";
    src: url(../fonts/IndUni-H-Oblique.otf);
    font-style:italic;
}
@font-face {
    font-family: "IndUni-H";
    src: url(../fonts/IndUni-H-BoldOblique.otf);
    font-style:italic;
    font-weight:bold;
}
@font-face {
    font-family: "Lohit Kannada";
    src: url(../fonts/Lohit-Kannada.ttf);
}
@font-face {
    font-family: "Akshar Unicode Regular";
    src: url(../fonts/akshar.ttf);
}
@font-face {
    font-family: "Printers Ornaments One";
    src: url(../fonts/printorn.ttf);
}